fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
pypdf
pymupdf
sentence-transformers
chromadb
python-dotenv
faiss-cpu
langgraph
typesense
tqdm